*{
margin:0;
padding:0;
box-sizing:border-box;
outline:none;
}
body {
  background-image: url("last.jpg");
  background-size: cover;

 }
.container {
  height: 100vh;
  display:flex;
  justify-content:center;  /* horizontally center */
  align-items:center;      /* vertically center */
}
.calculator
{
background-color:rgb(219, 208, 208) ;
padding:15px;
border-radius: 30px;
box-shadow:inset 5px 5px 12px #fff,  5px 5px 12px rgb(172, 164, 164);
display:grid;
grid-template-columns:repeat(4,80px);   /* HOW MANY ITEMS IN ONE ROW */

}
input
{
  grid-column:span 4;
  height: 70px;
  width:260px;
  background-color: #fff;
  box-shadow:inset -5px -5px 10px #fff,inset 5px 5px 12px rgb(172, 164, 164);
  border:none;
  color: rgb(70,70,70);
  font-size: 50px;
  text-align: end;
  margin:auto;
  margin-top: 30px;
  margin-bottom:30px;
  padding:20px;
}
button
{
height:48px;
width:48px;
background-color: #fff;
box-shadow:inset -5px -5px 10px #fff,inset 5px 5px 12px rgb(172, 164, 164);
border: none;
border-radius: 50%;
margin:8px;
font-size:16px;
}
button:hover {
  background-color:rgb(175, 175, 192);
  box-shadow: 3px 2px 22px 1px rgba(172, 164, 164);
  border-color: #bbb;
  transform: translateY(4px);
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  font-size: x-large;
  color:rgb(164, 164, 172);
  padding-top:0.6px;
  margin-top:5px;
  margin-left: 25px;
}